elsa-canvas {
  left: 300px;
}

.activity-picker {
  width: 300px;
}

.activity-picker-closed {

  .activity-picker {
    width: 0;
  }

  .activity-list {
    display: none;
  }

  elsa-canvas {
    left: 0;
  }
}
