elsa-canvas {
  left: 300px;
  top: 300px;
}

.activity-picker-closed {

  .activity-list {
    display: none;
  }

  elsa-canvas {
    left: 0;
  }
}

.trigger-container-closed {

  elsa-canvas {
    top: 0;
  }
}
